# IntelliJ
.idea/
*.iml

# Gradle
.gradle/
!gradle/wrapper/*

# Build Files
build/
target/
*.class

# PennSim Files
*.obj
*.sym
*.asm
*.cfg

# MacOS Files
.DS_Store

# Windows Files
thumbs.db

# Eclipse
.settings/
classes/
.classpath
.project